<footer class="light">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="/"><img src="/media/1.png" width="50%" alt="" /></a>
      </div>
      <!-- <div class="col-lg-4">
          <h3>Contacts</h3>
          <ul class="icon-list icon-line">
            <li>Dhaka, Bangladesh</li>
            <li>kareevkawnine@gmail.com</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <div class="icon-links icon-social icon-links-grid social-colors">
            <a class="facebook" href="http://www.facebook.com/kareevkawnine"
              ><i class="icon-facebook"></i
            ></a>
            <a class="twitter" href="http://www.twitter.com/kareevkaw9"
              ><i class="icon-twitter"></i
            ></a>
            <a
              class="instagram"
              href="http://www.instagram.com/kareev_kawnine"
              ><i class="icon-instagram"></i
            ></a>
          </div>
          <hr class="space-sm" />
          <p>Make Sure To Follow me on GitHub For More Projects</p>
        </div> -->
    </div>
  </div>
  <div class="footer-bar">
    <div class="container">
      <span
        >© 2022 YelpCamp - The Ultimate Version 2.0 by
        <a href="https://github.com/kareevkawnine" target="_blank"
          >KareevKawnine</a
        >.</span
      >
      <span
        ><a href="https://github.com/kareevkawnine">Contact Developer</a> |
        <a href="">Privacy policy</a></span
      >
    </div>
  </div>
  <link
    rel="stylesheet"
    href="themekit/media/icons/iconsmind/line-icons.min.css"
  />
  <script src="themekit/scripts/parallax.min.js"></script>
  <script src="themekit/scripts/glide.min.js"></script>
  <script src="themekit/scripts/magnific-popup.min.js"></script>
  <script src="themekit/scripts/tab-accordion.js"></script>
  <script src="themekit/scripts/imagesloaded.min.js"></script>
  <script src="themekit/scripts/progress.js" async></script>
  <script src="themekit/scripts/custom.js" async></script>
  <script src="themekit/scripts/isotope.min.js"></script>
  <script
    src="themekit/scripts/contact-form/contact-form.js"
    async
  ></script>

  <script src="/js/validateForms.js"></script>
</footer>
</body>
</html>
