<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login - YelpCamp</title>
    <meta name="description" content="" />

    <!-- Font Awesome -->
    <%- include('../partials/flash.ejs') %>
    <script src="/js/validateForms.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Section: Design Block -->
    <section class="text-center text-lg-start">
      <style>
        .cascading-right {
          margin-right: -50px;
        }

        @media (max-width: 991.98px) {
          .cascading-right {
            margin-right: 0;
          }
        }
      </style>

      <!-- Jumbotron -->
      <div class="container py-4">
        <div class="row g-0 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div
              class="card cascading-right"
              style="
                background: hsla(0, 0%, 100%, 0.55);
                backdrop-filter: blur(30px);
              "
            >
              <div class="card-body p-5 shadow-5 text-center">
                <h2 class="fw-bold mb-5">Login To YelpCamp</h2>
                <form
                  action="/login"
                  method="POST"
                  class="needs-validation"
                  novalidate
                >
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      aria-describedby="emailHelp"
                      name="username"
                      required
                    />
                    <label for="username" class="form-label">Username</label>
                    <div class="valid-feedback">Nice username!</div>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      name="password"
                      required
                    />
                    <label for="password" class="form-label">Password</label>
                    <div class="valid-feedback">Looks Great!</div>
                  </div>

                  <!-- Checkbox -->
                  <div class="form-check d-flex justify-content-center mb-4">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      value=""
                      id="form2Example33"
                      required
                    />
                    <label class="form-check-label" for="form2Example33">
                      Agree To Terms
                    </label>
                  </div>

                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Login
                  </button>

                  <!-- Register buttons -->
                  <div class="text-center">
                    <p>
                      Don't have an account? Register
                      <a href="/register">Here</a>
                    </p>
                    <p>
                      <a href="/">Go Back</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="/">
              <img src="media/no.png" alt="" style="border-radius: 8px" />
            </a>
          </div>
        </div>
      </div>
      <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"
    ></script>
    <script src="themekit/scripts/jquery.min.js"></script>
    <script src="themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="themekit/css/style.css" />
    <link rel="stylesheet" href="themekit/css/glide.css" />
    <link rel="stylesheet" href="themekit/css/magnific-popup.css" />
    <link rel="stylesheet" href="themekit/css/content-box.css" />
    <link rel="stylesheet" href="themekit/css/contact-form.css" />
    <link rel="stylesheet" href="themekit/css/media-box.css" />
    <link rel="stylesheet" href="skin.css" />
    <link rel="icon" href="media/favicon.png" />

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
